promotion_enable                1
write_log_enable                1
device_triggered_ctx_swt        1
cs_threshold                    2000

ssd_cache_size_byte             469762048
ssd_cache_way                   16
host_dram_size_byte             2147483648

t_policy                        LOCALITY